@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.slider-connect {
  background: #000000 !important;
}

.slider-tooltip {
  background: #000000 !important;
  border: #000000 !important;
  color: white;
}

body {
  background-color: #000000;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #d1d5db;
  overflow-x: hidden;
}

main {
  background-color: white;
  padding: 0.5rem;
}

@media (min-width: 1024px) {
  main {
    padding: 0;
    background-color: white;
    border-radius: 10px;
  }
}

th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
}
.vue3-easy-data-table__footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.customize-table {
  z-index: 0;
  background: #fff;
  background-color: #fff;
  --easy-table-border: 1px solid #fff;
  --easy-table-row-border: 1px solid #000;

  --easy-table-header-font-size: 14px;
  --easy-table-header-height: 50px;
  --easy-table-header-font-color: #fff;
  --easy-table-header-background-color: #000;
  --easy-table-header-border-radius: 10px;

  --easy-table-body-row-font-color: #000;
  --easy-table-body-row-background-color: #fff;
  --easy-table-body-row-height: 50px;
  --easy-table-body-row-font-size: 14px;

  --easy-table-body-row-hover-font-color: #2d3a4f;
  --easy-table-body-row-hover-background-color: #eee;

  --easy-table-footer-background-color: #000;
  --easy-table-footer-font-color: #fff;
  --easy-table-footer-font-size: 14px;
  --easy-table-footer-height: 50px;

  --easy-table-rows-per-page-selector-width: 70px;
  --easy-table-rows-per-page-selector-option-padding: 10px;
  --easy-table-rows-per-page-selector-z-index: 1;

  --easy-table-scrollbar-track-color: #2d3a4f;
  --easy-table-scrollbar-color: #2d3a4f;
  --easy-table-scrollbar-thumb-color: #4c5d7a;
  --easy-table-scrollbar-corner-color: #2d3a4f;

  --easy-table-loading-mask-background-color: #2d3a4f;
}

.input {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.input-bordered {
  --tw-border-opacity: 1;
  border-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-border-opacity)));
}

.select {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.select-bordered {
  --tw-border-opacity: 1;
  border-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-border-opacity)));
}

.btn > span {
  font-weight: 600;
}

.btn-primary {
  color: white;
}

.btn-error {
  color: #fff;
}

.btn-neutral {
  color: #fff;
}

.btn-outline {
  --tw-border-opacity: 1;
  border-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-border-opacity)));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.textcard {
  font-size: 0.65rem;
  line-height: 0.75rem;
}

.v-select,
.vs__dropdown-toggle {
  height: 3rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-border-opacity))) !important;
  border-radius: 10px !important;
}

.input-disabled,
.input:disabled,
.input[disabled] {
  background-color: #d1d5db;
}

.triangle {
  width: 4rem;
  aspect-ratio: 1;
  border-top-left-radius: 8px;
  clip-path: polygon(0 100%, 100% 0, 0 0);
}

.triangle1 {
  width: 3rem;
  aspect-ratio: 1;
  border-top-left-radius: 8px;
  clip-path: polygon(0 100%, 100% 0, 0 0);
}
