@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-connect {
  background: #000000 !important;
}

.slider-tooltip {
  background: #000000 !important;
  border: #000000 !important;
  color: white;
}

body {
  background-color: #d1d5db;
  height: 100vh;
}

main {
  background-color: white;
  padding: 0.5rem;
}

@media (min-width: 1024px) {
  main {
    margin: 0.5rem 0.5rem;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
  }
}
